.device-details-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  height: 100vh;
}

.device-text {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.device-details-heading {
  color: #007bff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container img {
  max-width: 150px;
  max-height: 150px;
}

#printable-content {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.loading-message,
.error-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #ff0000;
}
