/* PlanDetails.css */
.plan-details-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items to the top */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plan-image img {
  max-width: 100%;
  height: auto;
}

.plan-text {
  max-width: 600px;
}

.plan-details-heading {
  color: #333;
}

.plan-info {
  margin: 10px 0;
}

.plan-description {
  margin-top: 10px;
  white-space: pre-wrap;
  line-height: 1.5;
  max-width: 100%; /* Ensure the pre element doesn't overflow */
  overflow: auto; /* Add scrolling for long descriptions */
}

.loading-message,
.error-message {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8d7da;
  color: #721c24;
}
